__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git/
.gitignore
.cache/
.pytest_cache/
*.so
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.idea/
.vscode/
*.sublime-workspace
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.log
.DS_Store
